@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
/* {font-family: 'Open Sans', sans-serif;}*/
.navbar-brand, #par1 {font-family: 'Alex Brush', cursive!important; font-size:30px!important; transition:all .5s;}

#par1 {font-size:40px!important; transition:all .5s;}

* {font-family: 'Raleway', sans-serif;transition:all .5s;}

a {color: black;transition:.2s;}

.hide {visibility:hidden;} 
 
a:hover {font-weight:bold; transition:.2s;text-decoration:none;}

a:focus {text-decoration: none;}

button:focus {outline: none;}

.fixed-bottom {z-index:0!important;}

.swiper-container {margin-top:0!important;}

.swiper-wrapper {height: 100%;}

.swiper-slide {overflow-y: scroll; bottom:50px;}

.swiper-slide::-webkit-scrollbar{display:none;}

section {box-shadow: 0 -8px 12px 0 rgba(0, 0, 0, 0.1);}

/*body {
 background-image: url("src/img/sfondo.png");
 background-repeat: repeat;
 background-size: cover; 
}
.navbar {
 background-image: url("src/img/sfondo.png");
}*/
.navbar, .modal-body, .modal-footer, .card-body {
  background-color:#FFFFFF!important;
}
.navbar:hover {
  background-color:#F5F5F5!important;
}
.btn-secondary {
	background-color:#FFFFFF!important;
	color:#4674EA;
}
.btn-secondary.disabled, .btn-secondary:disabled {
	color:#4674EA!important;
}
.btn-secondary:hover,.btn-secondary-outline:hover {
	background-color:#4674EA!important;
	color:#FFFFFF;
}
.btn-secondary-outline {
	border: 1px solid #848059!important;
}
.navbar ul li {
	width:100%;
	align-self:center;
}
.navbar ul li a:hover {
	color:#FFFFFF!important;
}
.navbar ul li:hover {
  background-color:#4674EA!important;
	color:#FFFFFF!important;
  border-radius:5px;
}
.downarrow {
  color:#F5F5F5!important;
}
body {
	background: linear-gradient(180deg, #FFFFFF 0%, #F5F5F5 100%)
}
footer div div div ul li a {
	color:#232222!important;
}
footer div div div ul li a:hover {
	color:4674EA!important;
}
footer {
	background: linear-gradient(180deg, #FFFFFF 0%, #F5F5F5 100%)
}
.unclickable { pointer-events: none;}
.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  background-size: cover; 
  top: 0;
}
@media only screen and (min-width: 770px) {

	#navbarlogo {
		width: 50px!important;
	height: auto;
	}
	.navbar-brand {
		font-size: 1.5em;
	}
}
#navbarlogo {
	border-radius: 5em;
}
